body{
    background-color: rgb(5, 5, 5);
    color: white;
}
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
}

.navbar li{
    float: left;
}

.navbar a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover{
    background-color: #111;
}

#introduction{
    display: flex;
    flex-direction: row;
    background-color: #333;
    margin-top: 30px;
}

.intro-first-column, .intro-second-column{
    display: grid;
    align-items: center;
    justify-content: center;
}
.skills-section-text{
    display: flex;
    flex-direction: row;
}

.left-skills-list, .right-skills-list {
    display: grid;
}

